:root {
  color-scheme: light dark;
}
@media (prefers-color-scheme: dark) {
  body { background: #333; color: white; }
}

@media (prefers-color-scheme: light) {
  body { background: #ddd; color: black; }
}
body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: rgba(15, 15, 36, 0.836);
}

input{
  font-size: 1rem;
  font-family: inherit;
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 5px;
}
button{
  font-size: 1rem;
  font-family: inherit;
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 5px;
  background-color: #46be0e;
  color: white;
  border: 2px rgb(39, 80, 227) solid;
  cursor: pointer;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #f8f8f8;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  color: #000000;
  font-size: 1.2rem;
}
nav ul {
  position: absolute;
  top: 0;
  left: 30px;
  list-style-type: none;
  padding: 0;
}
nav ul li {
  margin-bottom: 1rem;
  border: #333 solid 1px;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e0e0e0;
  transition: background-color 0.3s ease;
  box-shadow:  2px 5px rgba(0, 0, 0, 0.1);
  transform: translateY(0);
}
nav ul li:active {
  transform: translateY(5px);
  background-color: #ccc;
  box-shadow:  0px 0px rgba(0, 0, 0, 0.1);
}
nav ul li:hover {
  background-color: #ccc;
}
a{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333
}
.container{
  width: calc(100% - 220px);
  margin-left: 220px;
  padding: 1rem;
  border: #333 solid 1px;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e0e0e0;
  border-radius: 5px;
  
}